<div id="admin-interface">
    <h5>Panel administrateur</h5>

    <div id="series-to-edit">
        <h6>Choisissez la série a modifier</h6>

        <div id="liste-series">
            <h6 ng-if="listSeries">Séries disponibles</h6>
            <div ng-repeat="serie in listSeries">
                <a ng-click="showForm(serie.idSerie); hideAddSerie()">{{serie.ville}}</a>
            </div>
        </div>
    </div>

    <!--Formulaire ajout d'image dans une série-->
    <div id="addImg" ng-show="show">
        <p>Il y a {{nb_img}} image(s) dans cette série</p>

        <form enctype="multipart/form-data">
            <div>
                <div>
                    <input id="description" type="text" class="validate" ng-model="image.description" require>
                    <label for="description">Description</label>
                </div>
            </div>

            <div>
                <div>
                    <input id="latitude" type="number" step="0.01" class="validate" ng-model="image.latitude" require>
                    <label for="latitude">Latitude</label>
                </div>
            </div>

            <div>
                <div>
                    <input id="longitude" type="number" step="0.01" class="validate" ng-model="image.longitude" require>
                    <label for="longitude">Longitude</label>
                </div>
            </div>

            <div class="file-field">
                <div>
                    <span>Image</span>
                    <input type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                           accept="image/jpeg" ngf-max-height="1000" ngf-max-size="1MB" name="file" require>
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" ng-model="image.url" type="text">
                </div>
            </div>

            <button ng-click="addImage()" class="waves-effect waves-light" type="submit" name="action">
                Ajouter
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>