<div id="finish-container" ng-controller="FinishController as finishLoc">
    <h4>Félicitation, votre score est de {{finishLoc.scoreFinal}} points</h4>
    <p>Souhaitez-vous partager votre score ?</p>


    <form ng-submit="finishLoc.putScore()">
        <div class="row">
            <div class="input-field offset-s2 col s8">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name2" type="text" ng-model="share.pseudo" name="pseudo" required>
                <label for="first_name2">Nom d'utilisateur</label>
            </div>
        </div>

        <button class="waves-effect waves-light" type="submit" name="action">Partager
            <i class="material-icons">send</i>
        </button>
    </form>

    <ul id="liste-gamers" class="collection">
        <topgamer class="serie" ng-repeat="top in listTop"></topgamer>
    </ul>
</div>