<div id="game-container" ng-controller="GameController" data-ng-init="gameLoc.startGame()">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Préparez-vous</h4>
            <p>Début du jeu dans {{gameLoc.counterBegin}} secondes</p>
        </div>
    </div>
    <script>$('#modal1').openModal({dismissible: false});</script>

    <div id="images-series" class="modal">
        <div class="modal-content">
            <h4 style="">{{gameLoc.currentTitle}}</h4>
            <img src="{{gameLoc.currentUrl}}" alt="Photo">
        </div>
    </div>

    <div class="progress" id="compteur">
        <div class="determinate"></div>
    </div>

    <leaflet height="480px" width="100%" markers="gameLoc.markers" event-broadcast="events"
             lf-center="city" tiles="tiles">
    </leaflet>

    <div id="modalScore" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Récapitulatif de l'étape {{gameLoc.nbCurrentPicture +1}}/{{gameLoc.nbPictures}}</h4>
            <p ng-if="gameLoc.markers.length == 1">{{ gameLoc.dist }} mètre(s)</p>
            <p ng-if="gameLoc.markers.length == 1">{{ gameLoc.timeClicked }} seconde(s)</p>
            <strong>{{ gameLoc.scoreStep }} pts</strong>
        </div>
    </div>
</div>