<div id="play">
    <div class="row">
        <h5>Les règles sont simples : 6 secondes pour mémoriser chaque image de la série et 10 pour placer le lieu sur
        la carte</h5>

        <button ng-click="playLoc.test()">
            Lancer la partie <i class="material-icons left">play_arrow</i>
        </button>
    </div>
</div>