<div id="series" ng-controller="SeriesController as seriesLoc">
    <div class="row">
        <h5>Choisissez votre série</h5>

        <div id="liste-series">
            <h6>Séries disponibles</h6>

            <div>
                <serie class="serie" ng-repeat="serie in listSeries"></serie>
            </div>
        </div>
    </div>
</div>