#admin-interface {
  @extend .center;
  margin-top: 4rem;

  #series-to-edit {
    margin-top: 2rem;

    h6 {
      margin-bottom: 2rem;
    }
  }

  #liste-series {
    button {
      @extend .btn;
    }

    a {
      cursor: pointer;
    }
  }
}

#addImg {
  margin-top: 4rem;

  form {
    div {
      @extend .row;

      div {
        @extend .input-field;
        @extend .col;
        @extend .s12;
      }
    }

    button {
      @extend .btn;
    }

    .file-field {
      div:first-child {
        @extend .btn;
      }
    }
  }
}