#finish-container {
  margin-top: 20px;

  h4, p, form {
    @extend .center;
  }

  form {
    div {
      @extend .input-field;
      @extend .offset-s2 !optional;
      @extend .col;
      @extend .s8;

      input {
        @extend .validate !optional;
      }
    }

    button {
      @extend .btn;

      i {
        @extend .right;
      }
    }
  }
}

#top-gamers {
  @extend .collection-item;
  @extend .avatar;

  span {
    @extend .title;
  }

  #liste-gamers {
    @extend .collection;
    border: 0px;
    margin-top: 1rem;
  }

  text-align: left !important;
}