body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $bg-main;
}

main {
  flex: 1 0 auto;
}

.serie {

  p {
    border-bottom: 1px solid #d0d0d0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#images-series {
  h4 {
    color: #DB222b !important;
    white-space: nowrap;
  }
}