nav {
  div {
    @extend .nav-wrapper;

    a {
      @extend .brand-logo;
      @extend .center;
    }
  }
}

main {
  #angular-div {
    @extend .container;
  }
}

footer {
  #contenu-footer {
    @extend .container;

    #footer-gauche {
      @extend .col;
      @extend .l6;
      @extend .s12;

      p {
        color: #f5f5f5 !important;
      }
    }

    #footer-droit {
      @extend .col;
      @extend .l4;
      @extend .s12;
      @extend .offset-12 !optional;

      ul li a {
        color: #eeeeee !important;
      }
    }
  }

  h5 {
    @extend .white-text;
  }

  .footer-copyright {
    div {
      @extend .container;
    }
  }
}

