#series {
  @extend .center-align;
  margin-top: 4rem;

  h5 {
    @extend .col;
    @extend .s12;
    margin-bottom: 3rem;
  }

  #liste-series {
    @extend .col;
    @extend .s12;
    @extend .l8;
    @extend .offset-l2;

    h6 {
      font-weight:bold;
    }
  }
}